<div class="door1">

    <div class="graf">
        <a href="">
            <img [src]="urlGraf" alt="">
        </a>
    </div>

    <div class="deta">
        <a class="limg" href="">
            <img [src]="urlPerf" alt="">
        </a>
        <div class="texto">
            <h3>
                <a href="">
                    <p>{{titulo}}</p>
                </a>
            </h3>
            <div class="" >
                <a class="lname" href="">
                    Mario Cáceres
                </a>
            </div>
            
            <div>
                <span>Hace 2 horas</span>
                <span>...524 vistas</span>
            </div>
        </div>
    </div>

</div>